<link rel="stylesheet" href="/css/info.css">
<div class="my-5 info-color">
    <div class="row row-cols-lg-2 row-cols-sm-1 rowinfo w-100">
        
        <div class="col-lg-4 mb-4">
            <div class="card card-changes">
                <div class="card-body">
                    <div class="icon-container">
                        <!-- Replace with actual icon -->
                        <img src="path-to-success-icon.png" alt="Success Stories Icon" width="50">
                    </div>
                    <h5 class="card-title">Success Stories</h5>
                    <p class="card-text">Read case studies about how FEMA funds are being used by state, local, tribal and territorial governments to become more resilient to disasters.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card card-changes">
                <div class="card-body">
                    <div class="icon-container">
                        <!-- Replace with actual icon -->
                        <img src="path-to-news-icon.png" alt="News and Events Icon" width="50">
                    </div>
                    <h5 class="card-title">News and Events</h5>
                    <p class="card-text">View FEMA's latest press releases, fact sheets and upcoming events related to disaster resilience efforts.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card card-changes">
                <div class="card-body">
                    <div class="icon-container">
                        <!-- Replace with actual icon -->
                        <img src="path-to-resilience-icon.png" alt="Resilience in Action Icon" width="50">
                    </div>
                    <h5 class="card-title">Resilience in Action</h5>
                    <p class="card-text">Discover how communities are becoming more resilient to a variety of disasters.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card card-changes">
                <div class="card-body">
                    <div class="icon-container">
                        <!-- Replace with actual icon -->
                        <img src="path-to-funding-icon.png" alt="Funding Opportunities Icon" width="50">
                    </div>
                    <h5 class="card-title">Funding Opportunities</h5>
                    <p class="card-text">Learn about grant funding available for U.S. states, tribes and territories.</p>
                </div>
            </div>
        </div>
    </div>
</div>