<style>
  .anchort-tag {
    text-decoration: none;
    color : #000000A6;
   
  }
  .anchort-tag:hover {
    text-decoration: underline;
    text-decoration-color: black;
    color : #000000A6;
    opacity: 1;
  }
</style>
<ul class="nav justify-content-center border-bottom mb-2">
  <li class="nav-item">
    <a class="nav-link anchort-tag" aria-current="page" href="/index#report-disas"><b>Report Disasters</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link anchort-tag" href="/index#sos-disas"><b>SOS</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link anchort-tag" href="/index#know-more"><b>Know More</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link anchort-tag" href="/index#footer-direct"><b>Contact Us</b></a>
  </li>
</ul>
