<% layout("./layouts/index") %>
<link rel="stylesheet" href="/css/about.css" />

<body>
  <div class="header">
    <h1>About us</h1>
  </div>

  <div class="content">
    <img
      src="https://mir-s3-cdn-cf.behance.net/projects/404/1bc04a131564629.Y3JvcCwyNTUwLDE5OTQsMCw2NTA.png"
      alt="Team Photo"
    />
    <p>
      At DisasterAware, we are a dedicated team of professionals committed to
      enhancing global resilience to disasters. Our mission is to empower
      individuals, communities, and organizations with the knowledge and tools
      they need to prepare for, respond to, and recover from natural and
      man-made disasters. With a presence across multiple countries, our team
      comprises experts in emergency management, public health, environmental
      science, and technology. We work collaboratively with governments, NGOs,
      and local communities to develop innovative solutions that address the
      unique challenges posed by disasters.
    </p>
    <p>
      We believe that preparedness is the key to reducing the impact of
      disasters. That’s why we focus on creating accessible resources, providing
      real-time information, and fostering a culture of awareness and readiness.
      Whether it’s through educational campaigns, interactive tools, or
      community engagement, we are dedicated to making a difference in the way
      the world responds to crises. Our vision is a world where every individual
      and community is equipped to handle the unexpected, where timely
      information and proactive planning save lives, and where recovery from
      disaster is swift and comprehensive. Join us in our mission to build a
      safer, more resilient future for all.
    </p>
  </div>
</body>
