<% layout("./layouts/index") %>

<body>
  <h2 style="text-align: center">News And Events</h2>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <h3 class="pb-2">What's new</h3>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://img.freepik.com/premium-photo/earthquake-ai-generated-image_20029-2663.jpg"
              class="card-img-top"
              alt="Disaster News 1"
              width="100%"
              height="225"
            />
            <div class="card-body">
              <p class="card-text">
                <b>Recent Earthquake in [West Bengal]:</b> An earthquake of magnitude 6.5 struck [West Bengal], causing significant damage to infrastructure and displacing thousands. Rescue efforts are ongoing.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://indianexpress.com/article/cities/kolkata/earthquake-northern-west-bengal-tremors-felt-9504264/" target="_blank" class="btn btn-sm btn-primary">Read more</a>
                </div>
                <small class="text-body-secondary">15 mins ago</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcm4uGuDAa8r6VVrBuGgCuNnqiwOSspOGqb6dnvX4Zl_o_2IYhHjMifgHyp5Z-k-Ozikk&usqp=CAU"
              class="card-img-top"
              alt="Disaster News 2"
              width="100%"
              height="225"
            />
            <div class="card-body">
              <p class="card-text">
                <b>Hurricane [Idalia] Hits [Florida]:</b> Hurricane [Idalia] has made landfall in [Florida], bringing with it high winds, torrential rain, and severe flooding. The government has declared a state of emergency.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://apnews.com/hub/hurricanes" target="_blank" class="btn btn-sm btn-primary">Read more</a>
                </div>
                <small class="text-body-secondary">30 mins ago</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://img.freepik.com/premium-photo/forest-fire-ai-technology-generated-image_1112-14623.jpg"
              class="card-img-top"
              alt="Disaster News 3"
              width="100%"
              height="225"
            />
            <div class="card-body">
              <p class="card-text">
                <b>Wildfires Ravage [California]:</b> Wildfires continue to spread across [California], fueled by dry conditions and high winds. Evacuation orders have been issued for several communities.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.theguardian.com/us-news/article/2024/jul/31/park-fire-california-wildfire" target="_blank" class="btn btn-sm btn-primary">Read more</a>
                </div>
                <small class="text-body-secondary">45 mins ago</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://cdn.pixabay.com/photo/2020/12/15/13/54/children-5833719_1280.jpg"
              class="card-img-top"
              alt="Disaster News 4"
              width="100%"
              height="225"
            />
            <div class="card-body">
              <p class="card-text">
                <b>Flooding in [Wuttenberg, Germany]:</b> Heavy rains have caused severe flooding in [Wuttenberg, Germany], with water levels rising to record heights. Residents are advised to seek higher ground.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://floodlist.com/europe/germany-bavaria-baden-wuerttemberg-floods-june-2024" target="_blank" class="btn btn-sm btn-primary">Read more</a>
                </div>
                <small class="text-body-secondary">1 hour ago</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtqgGjAjZLSo7k_DmKg_1Brk9WtvYqrEsRaw&s"
              class="card-img-top"
              alt="Disaster News 5"
              width="100%"
              height="225"
            />
            <div class="card-body">
              <p class="card-text">
                <b>Disaster Preparedness Summit 2024:</b> Leading experts gathered to discuss innovative solutions to disaster preparedness and response, emphasizing the need for community resilience and technological advancements.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://newswebsite.com/preparedness-summit" target="_blank" class="btn btn-sm btn-primary">Read more</a>
                </div>
                <small class="text-body-secondary">2 hours ago</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://as1.ftcdn.net/v2/jpg/05/76/82/92/1000_F_576829230_wQLW6fY3LiwisyreOT2KOSNNSY7pTpgN.jpg"
              class="card-img-top"
              alt="Disaster News 6"
              width="100%"
              height="225"
            />
            <div class="card-body">
              <p class="card-text">
                <b>Tsunami Warning in [U.S]:</b> Authorities have issued a tsunami warning for [Loyalty Islands, America] following a significant undersea earthquake. Residents are advised to move to higher ground immediately.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.tsunami.gov/previous.events/?p=08-29-2018_LoyaltyIslands" target="_blank" class="btn btn-sm btn-primary">Read more</a>
                </div>
                <small class="text-body-secondary">3 hours ago</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://cdn.pixabay.com/photo/2023/12/02/12/34/ai-generated-8425573_1280.png"
              class="card-img-top"
              alt="Disaster News 7"
              width="100%"
              height="225"
            />
            <div class="card-body">
              <p class="card-text">
                <b>Volcano Eruption in [Island]:</b> A volcanic eruption in [Island] has caused widespread ash fall and disrupted air travel. Authorities are monitoring the situation closely.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://newswebsite.com/volcano-eruption" target="_blank" class="btn btn-sm btn-primary">Read more</a>
                </div>
                <small class="text-body-secondary">4 hours ago</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://th-i.thgim.com/public/news/national/kerala/e81srr/article68463249.ece/alternates/LANDSCAPE_1200/gap%20road.jpeg"
              class="card-img-top"
              alt="Disaster News 8"
              width="100%"
              height="225"
            />
            <div class="card-body">
              <p class="card-text">
                <b>Landslide in [Wayanad]:</b> A massive landslide in [Wayanad] has blocked major roads and isolated several villages. Rescue teams are working to clear the debris.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://indianexpress.com/about/landslide/" target="_blank" class="btn btn-sm btn-primary">Read more</a>
                </div>
                <small class="text-body-secondary">5 hours ago</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://thumbs.dreamstime.com/b/picture-hot-sun-shines-road-surface-heat-waves-sweltering-heat-heatwave-ai-picture-hot-sun-shines-325020897.jpg"
              class="card-img-top"
              alt="Disaster News 9"
              width="100%"
              height="225"
            />
            <div class="card-body">
              <p class="card-text">
                <b>Heatwave in [Guwahati]:</b> [Guwahati] is experiencing an extreme heatwave, with temperatures soaring above [50] degrees. Authorities are urging people to stay indoors and stay hydrated.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.thehindu.com/sci-tech/science/this-century-heat-waves-are-moving-slower-and-lasting-longer/article68217622.ece" target="_blank" class="btn btn-sm btn-primary">Read more</a>
                </div>
                <small class="text-body-secondary">6 hours ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
