<% layout("./layouts/index") %>
<link rel="stylesheet" href="/css/info.css">
<body>
    <%- include("../listings/sliding.ejs") %>
<div class="emergency row row-cols-1 row-cols-sm-1 row-cols-lg-2 my-2 bg-light">
    
    <div class="report col-12 col-md-6 col-lg-6 my-3" id="report-disas">
        <div class="row">
            <div class="col-8 offset-2">
                <h2> 
                   Report a Disaster
                </h2>
                <form action="/sendSms2" method="post" novalidate class="needs-validation">
                    <div class="mb-3">
                        <lable for="username" class="form-label">Name</lable>
                        <input type="text" name="name" id="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <lable for="email" class="form-label">Email</lable>
                        <input type="text" name="email" id="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <lable for="phone" class="form-label">Phone Number</lable>
                        <input type="number" name="phone" id="phone" class="form-control" required>  
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="disaster">Select a Natural Disaster</label>
                        <select class="form-control" id="disaster" name="disaster" required>
                            <option value="">Select here</option>
                            <option value="earthquake">Earthquake</option>
                            <option value="tsunami">Tsunami</option>
                            <option value="hurricane">Hurricane</option>
                            <option value="tornado">Tornado</option>
                            <option value="flood">Flood</option>
                            <option value="drought">Drought</option>
                            <option value="wildfire">Wildfire</option>
                            <option value="volcanic-eruption">Volcanic Eruption</option>
                            <option value="landslide">Landslide</option>
                            <option value="heatwave">Heatwave</option>
                            <option value="blizzard">Blizzard</option>
                            <option value="avalanche">Avalanche</option>
                            <option value="hailstorm">Hailstorm</option>
                            <option value="cyclone">Cyclone</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a natural disaster.
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="mb-3 col-md-8">
                            <lable for="location" class="form-label">Location</lable>
                            <input type="text" name="location" id="location" class="form-control" required>  
                        </div>
                        <div class="mb-3 col-md-4">
                            <lable for="country" class="form-label">Country</lable>
                            <input type="text" name="country" id="country" class="form-control" required>  
                        </div>    
                    </div>
                    <button type="submit" class="btn btn-success">Send <i class="fa-solid fa-paper-plane" ></i></button>
                </form>
            </div>
        </div>
        
        <script src="/js/form.js"></script>
        
    </div>  
   
    <div class="sos col-12 col-md-6 col-lg-6 my-3" id="sos-disas">
       <div class="row">
            <div class="col-8 offset-2">
                <h2> 
                    Emergency Help
                </h2>
                <form action="/sendSms" method="post" novalidate class="needs-validation">
                    <div class="mb-3">
                        <lable for="username" class="form-label">Name</lable>
                        <input type="text" name="name" id="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <lable for="email" class="form-label">Email</lable>
                        <input type="text" name="email" id="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <lable for="phone" class="form-label">Phone Number</lable>
                        <input type="number" name="phone" id="phone" class="form-control" required>  
                    </div>
                    <div class="mb-2">
    <label class="form-label" for="disaster">Select a Natural Disaster</label>
    <select class="form-control" id="disaster" name="disaster" required>
        <option value="">Select here</option>
        <option value="earthquake">Earthquake</option>
        <option value="tsunami">Tsunami</option>
        <option value="hurricane">Hurricane</option>
        <option value="tornado">Tornado</option>
        <option value="flood">Flood</option>
        <option value="drought">Drought</option>
        <option value="wildfire">Wildfire</option>
        <option value="volcanic-eruption">Volcanic Eruption</option>
        <option value="landslide">Landslide</option>
        <option value="heatwave">Heatwave</option>
        <option value="blizzard">Blizzard</option>
        <option value="avalanche">Avalanche</option>
        <option value="hailstorm">Hailstorm</option>
        <option value="cyclone">Cyclone</option>
    </select>
    <div class="invalid-feedback">
        Please select a natural disaster.
    </div>
</div>

                    <div class="row">
                        <div class="mb-3 col-md-8">
                            <lable for="location" class="form-label">Location</lable>
                            <input type="text" name="location" id="location" class="form-control" required>  
                        </div>
                        <div class="mb-3 col-md-4">
                            <lable for="country" class="form-label">Country</lable>
                            <input type="text" name="country" id="country" class="form-control" required>  
                        </div>    
                    </div>
                    <button type="submit" class="btn btn-success">Send <i class="fa-solid fa-paper-plane" ></i></button>
                </form>
            </div>
        </div>
        
       
    </div>
</div>
<div class="info-color w-100">
    <div class="row row-cols-lg-2 row-cols-sm-1 rowinfo w-100">
        
        <div class="col-lg-4 mb-4">
            <div class="card card-changes">
                <div class="card-body">
                    <div class="icon-container">
                        <!-- Replace with actual icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="50"height="50"fill="black" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                          </svg>
                    </div>
                    <h5  id = "know-more" class="card-title"> <a href="/learn" class="under">Learn the Disasters</a></h5>

                    <p class="card-text">Read case studies about how DisasterAware funds are being used by state and territorial governments to become more resilient to disasters.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card card-changes">
                <div class="card-body">
                    <div class="icon-container">
                        <!-- Replace with actual icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="50"height="50"fill="black" class="bi bi-newspaper" viewBox="0 0 16 16">
                            <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
                            <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
                          </svg>
                    </div>
                    <h5 class="card-title"><a class = "under" href="/news">News and Events</a></h5>
                    <p class="card-text">View latest press releases, fact sheets and upcoming events related to disaster</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card card-changes">
                <div class="card-body">
                    <div class="icon-container">
                        <!-- Replace with actual icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="50"height="50"fill="black" class="bi bi-globe-americas" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                          </svg>
                    </div>
                    <h5 class="card-title"><a href="/api/map" class="under">Map</a></h5>
                    <p class="card-text">Discover historic of disasters.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card card-changes">
                <div class="card-body">
                    <div class="icon-container">
                        <!-- Replace with actual icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="50"height="50"fill="black" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                          </svg>
                    </div>
                    <h5 class="card-title"><a href="/about" class="under">About Us</a></h5>
                    <p class="card-text">Learn about Us to learn more..</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
