
<% layout("./layouts/index") %>
<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
       <p> <%= message %> </p> 
       <p> this is error page </p>
    </div>
</div>